# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json


# Public uploads - ignorar imágenes y otros archivos cargados
public/uploads/*
!public/uploads/.gitkeep
